@import "finternet-dashboard/custom/functions";
@import "finternet-dashboard/custom/variables";
@import "finternet-dashboard/custom/mixins";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

@import "finternet-dashboard/custom/reboot";
@import "finternet-dashboard/custom/utilities";
@import "finternet-dashboard/custom/components";

@import "finternet-dashboard/custom/vendors";

@import "finternet-dashboard/docs/variables";
@import "finternet-dashboard/docs/nav";
@import "finternet-dashboard/docs/clipboard-js";
@import "finternet-dashboard/docs/component-examples";
@import "finternet-dashboard/docs/prism";
@import "finternet-dashboard/docs/content";
@import "finternet-dashboard/docs/sidebar";
@import "finternet-dashboard/docs/footer";

@import "react/react-differences";


.main-content {
    display: flex;
    justify-content: center;
}

.shadow.card {
    width: 130%;
    height: 150%;
    min-width: 450px;
    margin-top: 100px;
    font-size:large;
}

.shadow:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) !important;
}

.shadow.users {
    width: 600px;
    position: relative;
}

.navbar-vertical {
    top: 52px !important;
}

.navbar-brand-img {
    width: 40px;
    margin-left: 20px;
    margin-top: 3px;
}

.backButton {
    position: absolute;
    right: 22px;
    top: 10px;
}

.sub-table-container {
    background: #f1f2f7;
    padding: 20px;
}

.sub-table {
    background: #fff;
    border-radius: 5px;
    width: 50%;
    padding: 20px;
}

.support-tokens-container {
    display: flex;
    width: 80%;
    height: 50%;
    transition: justify-content 1s;
    justify-content: space-around;
}


.upload-container {
    transition: all 1s;
    max-width: 380px;
    height: 60vh;
}

.programs {
    width: 80% !important;
    height: 150%;
    // max-width: 600px;
}

.execute-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.execute-button {
    position: absolute;
    bottom: 1rem;
    right: calc(50% + 8rem);
    left: 1rem;
    width: auto !important;
}

.execute-card {
    padding: 1rem !important;
    display: flex !important;
    flex-direction: row !important;
    width: 70% !important;
    min-height: 200px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.execute-form {
    width: 50%;
    border-right: 1px solid #cad1d7;
    padding-right: 1rem;
    min-height: 200px !important;
}

.dropdown-item {
    padding-left: 30px !important;
}


.driver-form {
    width: 35% !important;
    min-height: 500px;
}

.bindCTA {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    width: auto !important;
}

.driver-form-body {
    position: relative;
}

.breadcrumb-section {
    position: absolute;
    left: 0;
}

.breadcrumb-section .breadcrumb {
    background: transparent;
}

.breadcrumb-item::first-letter {
    text-transform: uppercase;
}

.navigateToBindCTA {
    width: 8% !important;
    height: 10%;
    font-size: large;
    font-weight: 300;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    padding: 0.09rem 0.1rem;
}

.navigateToBindCTA-2 {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    padding: 0.4rem 0.4rem;
}

.driverSelectForm {
    margin-left: 10px;
}

.driverSelectForm .dropdown-toggle {
    background: #fff;
    color: #000;
    border: none
}

.selected-program-row {
    background: #f9f2f2;
}

.fileUploadLabel {
    border-style: dashed !important;
}

.dropdown-menu {
    transform: none !important;
    overflow: hidden !important;
}

.loginCTA {
    position: absolute;
    bottom: 5.6rem;
    left: 2.8rem;
    right: 2.3rem;
    width: auto !important;
}

.login-body {
    flex: 1 1 auto !important;
    min-height: 1px !important;
    padding: 1.25rem !important;
    padding-top: 0rem !important;
    padding-bottom: 5rem !important;
}

#passwordEye {
    position: absolute;
    right: 50px;
    top: 248px;
}

.dropdown-menu .dropdown-item>i,
.dropdown-menu .dropdown-item>svg {
    margin-right: 0.5rem !important;
}

input:hover,
input:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 20px !important;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.4);
}

button {
    transition: all 0.3s ease-in-out;
}

button:hover {
    // background: linear-gradient(90deg, #007bff, #0056b3);
    transform: scale(1.08);
}

.loginContainer {
    padding: 54px 1.5rem !important;
    height: 450px;
}

.signupCTA {
    margin-top: 40px !important;
}

button {
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(90deg, #007bff, #0056b3) !important;
    transform: scale(1.08) !important;
}